Post Data In Google Sheet via API.json
{
  "name": "Post Data In Google Sheet via API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-post",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "60502fbe-88a8-4d82-857a-23e602262e4c",
      "name": "Webhook",
      "webhookId": "52deb0b9-6eba-4993-8413-5870aea4e61d"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_A0oSUgiAQFLcedGiVTmQRs93Ja-h2mBg4kbckqWLWI",
          "mode": "list",
          "cachedResultName": "LinkedIn Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_A0oSUgiAQFLcedGiVTmQRs93Ja-h2mBg4kbckqWLWI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_A0oSUgiAQFLcedGiVTmQRs93Ja-h2mBg4kbckqWLWI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $now }}",
            "post_text": "={{ $json.post_text }}",
            "status": "draft",
            "publish_time ": "={{ $json.publish_time }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "post_text",
              "displayName": "post_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "publish_time ",
              "displayName": "publish_time ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "62a85817-9b98-4522-8d3e-43cfbd079c97",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wojSFNPtPtmDmfMA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "68193422-5c74-4f16-b922-cfe76f4352d6",
      "name": "Split Out"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7d00d6f0-056b-4f4d-b6fd-3e067d2e900a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "651907f691a5438a0d3c24e63a087d9b39616f89ec33a2dcc87bec131a634b31"
  },
  "id": "fap3ktlDFh4jrk1v",
  "tags": []
}